#all{
    display: grid;
    grid-template-rows: 100px 1000px;
    grid-template-columns: 1fr 1fr;
}
#menu{
    background-color: #000000;
    height: 1100px;
    filter: drop-shadow(2px 2px 7px #F4CE14);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.ww{
    margin: 50px;
    filter: drop-shadow(2px 2px 7px #F4CE14);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    color: #333;
    background-color: #fff;
    font-weight: 700;
    font-size: 20px;
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #000000, #000000);
    margin: 0;
}

.container {
    display: flex;
    
    align-items: center;
    height: 100vh;
}

#options {
    background-color: #fff;
    filter: drop-shadow(2px 2px 7px #F4CE14);
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #333;
}

.option {
    margin-top: 20px;
    text-align: center;
}

a {
    display: block;
    color: #007BFF;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

p {
    margin: 0;
    color: #666;
}
