<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style_classe.css')}}">
</head>
<body>
    <div id="all">
        <div id="first">
            <div id="heading">
                <div id="hh" class="options" style="background-color:#F4CE14"></div>
                <div id="home" class="options"> <a href="http://127.0.0.1:5000/">
                        <h4>Home </h4>
                    </a></div>
                <div id="classes" class="options"> <a href="http://127.0.0.1:5000/classe">
                        <h4>Classes </h4>
                    </a></div>
                <div id="contact" class="options"> <a href="http://127.0.0.1:5000/contact">
                        <h4>Contact </h4>
                    </a> </div>
                <div id="admin" class="options"> <a href="http://127.0.0.1:5000/admin">
                        <h4>Admin </h4>
                    </a> </div>
            </div>
            <div id="Title">
                <h1 class="s">Learning as we grow,</h1>
                <h1>Growing as we learn</h1>
            </div>
        </div>
        <div id="meadle">
            <h1>Academic Support: </h1>
            <ul>
                <li class="tt">Second Baccalaureate
                    <ul>
                        <li>Mathematics</li>
                        <li>Physics and chemistry</li>
                        <li>Life Sciences</li>
                    </ul>
                    
                </li>
                <li class="tt">First Baccalaureate
                    <ul>
                        <li>Mathematics</li>
                        <li>Physics and chemistry</li>
                        <li>Life Sciences</li>
                        <li>French </li>
                        <li>Arabic</li>
                        <li>History</li>
                        <li>Islamic education</li>
                    </ul>
                </li>
            </ul>
            <h1>Languages Support:</h1>
            <ul class="tt">
                <li class="jj">French</li>
                <li class="jj">English</li>
                <li class="jj">Spanish</li>
            </ul>
            <h1>Soft Skills:</h1>
            <ul class="tt">
                <li class="jj">C++</li>
                <li  class="jj">C</li>
                <li class="jj">Python</li>
            </ul>
        </div>

    <!-- </div> -->
    
</body>
</html>