<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style_contact.css')}}">
</head>

<body>
    <div id="all">
        <div id="first">
            <div id="heading">
                <div id="hh" class="options" style="background-color: #F4CE14;"></div>
                <div id="home" class="options"> <a href="http://127.0.0.1:5000/">
                        <h4>Home </h4>
                    </a></div>
                <div id="classes" class="options"> <a href="http://127.0.0.1:5000/classe">
                        <h4>classes </h4>
                    </a></div>
                <div id="contact" class="options"> <a href="http://127.0.0.1:5000/contact">
                        <h4>Contact </h4>
                    </a> </div>
                <div id="admin" class="options"> <a href="http://127.0.0.1:5000/admin">
                        <h4>admin </h4>
                    </a> </div>
            </div>
            <div id="Title">
                <h1 class="s">Learning as we grow,</h1>
                <h1>Growing as we learn</h1>
            </div>
        </div>
        <div id="meadle">
            <table>
                <tr>
                    <h2>School Contact Details </h2>
                    <ul>
                        <li>Index Extra Hours School</li>
                        <li>Address:École Nationale des Sciences Appliquées, BP 77 Bd Beni Amir, Khouribga 25000</li>
                        <li>Phone: +2127 01 81 35 82</li>
                        <li>Email: aymen.lamkhanet.07@gmail.com</li>
                        <li>Office Hours: Monday to Friday: 8:00 AM - 4:00 PM</li>
                        <li>Follow Us: aymen lamkhanet</li>
                    </ul><br><br><br><br>
                    <p>We look forward to hearing from you and assisting with any inquiries you may have.</p>
            </table>
        </div>
        <div id="foot">
            <div id="H1" class="goal1">
                    <p class="zz">Academic Excellence</p>
            </div>
            <div id="H2" class="goal2">
                    <p class="zz">Holistic Development</p>
            </div>
            <div id="H3" class="goal3">
                    <p class="zz">Inclusive Environment</p>
            </div>
            <div id="H4" class="goal4">
                    <p class="zz">Life Skills Education</p>
            </div>
            <div id="H5" class="goal5">
                    <p class="zz">Character Building</p>
            </div>
        </div>
    </div>
</body>

</html>