<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Options</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style_prof.css')}}">
</head>

<body>
    <div id="all">
        <div id="menu">
            <a href="http://127.0.0.1:5000/student"><div class="ww">Student</div></a>
            <a href="http://127.0.0.1:5000/professeur"><div class="ww">professeur</div></a>
            <a href="http://127.0.0.1:5000/groups"><div class="ww">groups</div></a>
            <a href="http://127.0.0.1:5000/seance"><div class="ww">seance</div></a>
            <a href="http://127.0.0.1:5000/utilisateur"><div class="ww">admin</div></a>
            <a href="http://127.0.0.1:5000/"><div class="ww">log out</div></a>
        </div>
        <div class="container">
            <div id="options">
                <h2>Select an Option</h2>
                <div class="option">
                    <a href="http://127.0.0.1:5000/addprof">Add a New professeur</a>
                    <p>Add a new Student to the system.</p>
                </div>
                <div class="option">
                    <a href="http://127.0.0.1:5000/viewprof">View Existing professeur</a>
                    <p>View details of an existing Prof.</p>
                </div>
                <div class="option">
                    <a href="http://127.0.0.1:5000/addproftogroup">Modify Existing professeur</a>
                    <p>add Prof to a group .</p>
                </div>
                <div class="option">
                    <a href="http://127.0.0.1:5000/deleteprof">Delete a Prof </a>
                    <p>Delete a Prof From The Data Base  .</p>
                </div>
            </div>
        </div>


    </div>
</body>

</html>