<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Options</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="all">
        <div id="menu">
            <a href="../student/index.html"><div class="ww">Student</div></a>
            <a href="../professeur/index.html"><div class="ww">professeur</div></a>
            <a href="../groups/index.html"><div class="ww">groups</div></a>
            <a href="../seance/index.html"><div class="ww">seance</div></a>
            <a href="../admin/index.html"><div class="ww">admin</div></a>
            <a href="C:\Users\21266\Desktop\c\projetrochd\office\loginpage.html"><div class="ww">log out</div></a>
        </div>
        <div class="container">
            <div id="options">
                <div class="option">
                    <a href="./addstudent.html">Reset Password</a>
                    <p>Set a New Password.</p><br><br>
                    <form action="" method="POST">
                        <label for="">Select email :</label>
                        <input type="email"  name="email">
                        <label for="">Select Password :</label>
                        <input type="password"  name="newpassword">
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>


    </div>
</body>

</html>
